<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      p {
        color: red;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin: 20px;
        padding: 20px;
        border: 1px solid black;
        border-radius: 10px;
        background-color: lightgray;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        transition: background-color 0.5s;
      }
    </style>
  </head>
  <body>
    <p>Hi, I am rendered with the help of the ejs</p>
  </body>
</html>
